* {
    margin: 0;
    padding: 0;
}
.screen {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1.1;
    background-color: #292A2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-info {
    width: 500px;
}
.left-info p {
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    color: #5BB1F6;
    font-weight: 500;
    font-size: 2rem;
}
.right {
    display: flex;
    height: 100vh;
    flex: 0.9;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 65px;
    font-family: 'Raleway', sans-serif;
    
    
}

.music-header {
    margin-top: 50px;    
}
.right-info {
    margin-top: 50px;
}
.rinfo1 {
    font-weight: 300;
    font-size: 60px;
}
.typing {
    font-weight: 200;
    font-size: 50px;
    background-image: url(./images/download.png);
    background-size: 20%;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 70px;
}

.b {
    background-color: #49a5f0;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    width: 300px;
    text-transform: uppercase;
    padding: 20px 80px;
    border-radius: 5px;
}
.footer {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.timer {
    width: 50vh;
    
}
.git {
    margin-left: 200px;
}